<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistreerServlet</servlet-name>
        <servlet-class>Servlets.RegistreerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistratieServlet</servlet-name>
        <servlet-class>Servlets.RegistratieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>Servlets.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAangebodenBoekenServlet</servlet-name>
        <servlet-class>Servlets.ListAangebodenBoekenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistreerServlet</servlet-name>
        <url-pattern>/RegistreerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistratieServlet</servlet-name>
        <url-pattern>/RegistratieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAangebodenBoekenServlet</servlet-name>
        <url-pattern>/ListAangebodenBoekenServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
